@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


*, *:before, *:after {
  box-sizing: inherit;
}

.container2 {
  width: 100%;
    font-family: 'Roboto Mono', monospace;
  font-size: 16px;

  .center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }

  .copy-container {
    text-align: center;

    p {
        font-family: 'Roboto Mono';
      color: #000;
      font-size: 24px;
      letter-spacing: .2px;
      margin: 0;
    }

    .handle {
      background: #ffe500;
      width: 14px;
      height: 30px;
      top: 0;
      left: 0;
      margin-top: 1px;
      position: absolute;
    }
  }

}
