.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  text-align: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

    form {
      width: 100%;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 5px;
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        grid-column: 1 / -1;
      }

      .form-group {
        margin-bottom: 1rem;

        label {
          display: block;
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
          font-weight: bold;
          text-align: left;
        }

        input,
        textarea {
          width: 100%;
          height: 100%;
          padding: 0 15px;
          font-size: 1rem;
          border: none;
          outline: none;
          border-radius: 6px;
          background: rgba(37, 40, 41, 0.04);
          resize: none;
          font-family: 'Montserrat', sans-serif;
          &::placeholder {
            color: #afafb6;
            
          }

          &:focus {
              background-color: #fff;
            border: 2px solid #082548;
          }
        }
      }

      button {
        display: inline-block;
        margin-top: 12px;
        grid-column: 1 / -1;
        width: 20%;
        padding: 0.8rem;
        margin: 1rem 0;
        border: none;
        background: $color-trinary;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.1s linear;
        border-radius: 10px;
        align-self: center;

        &:active {
          transform: scale(0.95);
        }

        &:hover {
          background: $color-secondary;
        }
      }
    }
  }

  // Media query for screens with a maximum width of 768px
  @media screen and (max-width: 768px) {
    padding: 1rem;

    .container {
      padding: 1rem;

      form {
        padding: 1rem;
        grid-template-columns: 1fr; // Change grid layout to a single column

        // .form-group {
        //   label {
        //     font-size: 1rem;
        //   }

        //   input,
        //   textarea {
        //     padding: 0.8rem;
        //     font-size: 0.9rem;
        //   } 
        // }

        button {
          width: 30%; // Make the button full-width
          padding: 1rem;
          font-size: 1rem;

        }
      }
    }
  }

  // Media query for screens with a maximum width of 426px
  @media screen and (max-width: 426px) {
    .container {
      form {
        padding: 0rem;
        .form-group {
          label {
            font-size: 0.9rem;
          }

          // input,
          // textarea {
          //   padding: 0.65rem;
          //   font-size: 0.8rem;
          // }
        }

        button {
          padding: 1rem;
          font-size: 1rem;
          text-align: center;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          width: 50%;
        }
      }
    }
  }


@media screen and (max-width: 375px) {
    .container {
        form {
        .form-group {
            input,
            textarea {
            padding: 0.5rem;
            font-size: 0.7rem;
            }
        }
    
        button {
            padding: 1rem;
            font-size: 0.9rem;
            text-align: center;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            width: 50%;
        }
        }
    }
}
}