@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.railways{
    background-color: #f6f6f6;
}

.aerospace {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    border-bottom: 1px solid #333;
  
    .title {
      text-align: left;
      padding-left: 2rem;
      padding-right: 2rem;
  
      h1 {
        font-size: 2.5rem;
        color: #10182f;
        text-align: center;
        margin-bottom: 1rem;
        display: inline-block;
        padding-bottom: 1rem;
  
        &::after {
          content: "";
          display: block;
          width: 60px;
          height: 3.5px;
          background-color: #10182f;
          margin-top: 1rem;
        }
      }
    }
  
    .description {
      padding-left: 2rem;
      padding-right: 2rem;
      text-align: left;
      p {
        font-size: 1.25rem;
        color: $color-font;
        line-height: 1.25;
        margin-bottom: 1rem;
        font-family: 'Roboto', sans-serif;  
        font-weight: 300;
      }
    }
  
    .container {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Adjust the minimum width as per your requirement */
      gap: 20px;
      margin-top: 20px;
      border-radius: 10px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 5rem;
      padding-left: 0;
      padding-right: 0;
  
      .wrapper {
        padding: 2rem 2.5%;
      }
  
      #card-area {
        padding: 0;
      }
  
      .railwayBoxArea {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Adjust the minimum width as per your requirement */
        grid-gap: 50px; /* Adjust the gap between grid items */
        margin-top: 50px;
        justify-content: center;
        align-items: center;

       
    
        @media (max-width: 768px) {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the minimum width for smaller screens */
          grid-gap: 30px; /* Adjust the gap between grid items for smaller screens */
        }
    
        @media (max-width: 480px) {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the minimum width for even smaller screens */
          grid-gap: 30px; /* Adjust the gap between grid items for even smaller screens */
        }
      }
  
      .box {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
        
        img {
          width: 100%;
          height: 100%; 
          object-fit: cover;
          border-radius: 10px;
          display: block;
          transition: transform 0.5s ease-in-out;
        }
  
  
        
  
        .overlay {
          width: 100%;
          height: 25%;
          border-radius: 10px;
          position: absolute;
          left: 0;
          bottom: 0;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 40px;
          text-align: center;
          font-size: 14px;
          transition: height 0.5s ease-in-out;
          background: transparent;
  
          h3 {
            font-weight: 500;
            margin-top: 10%;
            font-family: "Bebas Neue", sans-serif;
            font-size: 2.25rem;
            letter-spacing: 2px;
            margin-bottom: 15%;
            transition: transform 0.5s ease-in-out, margin-bottom 0.5s ease-in-out; // Add margin-bottom to transition
            transform: translateY(50%);
            color: #fff;
          }
  
          
  
          p {
            color: #fff;
            font-size: 1.25rem;
            font-family: "Bebas Neue", sans-serif;
            transition: transform 0.5s ease-in-out;
            font-weight: 300;
          }
  
          a {
            margin-top: 1.5rem;
            color: #000;
            text-decoration: none;
            font-size: 1.25rem;
            background: #fff;
            border-radius: 50px;
            text-align: center;
            padding: 0.5rem 1.5rem;
            opacity: 0;
            transition: opacity 0.5s ease-in-out,
              background-color 0.5s ease-in-out, color 0.5s ease-in-out;
          }
          a:hover {
            background-color: #10182f;
            color: #fff;
            transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
          }
  
          a:active {
            transform: scale(1.1);
          }
        }
  
        // .railwayOverlay h3 {
        //   color: black; 
        // }
  
        &:hover {
          img {
            transform: scale(1.1);
          }
  
          .overlay {
            height: 80%;
            background: linear-gradient(transparent, rgba(28, 28, 28, 0.8));
  
            h3 {
              transform: translateY(0);
              margin-bottom: 5%;
            }
  
            a {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 1024px) {
    .breadcrumbs{
      .breadcrumb{
        .railwaysText{
          left: 16%;
        }
      }
    }
    .wrapper {
      padding: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
      grid-gap: 30px;
    }
  
    .box {
      img {
        width: 100%;
      }
  
      .overlay {
        h3 {
          font-size: 24px;
          margin-bottom: 5%;
        }
        a {
          font-size: 14px;
        }
        height: 40%;
        p {
          font-size: 14px;
          opacity: 0;
        }
      }
      &:hover {
        .overlay {
          p {
            opacity: 1;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .breadcrumbs{
      .breadcrumb{
        .railwaysText{
          left: 21%;
        }
      }
    }
    .box {
      img {
        width: 100%;
      }
  
      .overlay {
        h3 {
          font-size: 20px;
        }
        a {
          font-size: 14px;
        }
        height: 30%;
        p {
          font-size: 12px;
          opacity: 0;
        }
      }
      &:hover {
        .overlay {
          p {
            opacity: 1;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 426px) {
    .breadcrumbs{
      .breadcrumb{
        .railwaysText{
          left: 30%;
        }
      }
    }
    .box {
      .overlay {
        height: 30%; /* Ensure the overlay height is 100% on smaller screens */
        h3 {
          font-size: 16px; /* Adjust the font-size as needed */
          margin-bottom: 5%; /* Adjust the margin-bottom as needed */
        }
        p {
          font-size: 10px; /* Adjust the font-size as needed */
          opacity: 0; /* Hide the link initially */
        }
      }
      &:hover {
        .overlay {
          p {
            opacity: 1; /* Show the link on hover */
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 376px) {
    .breadcrumbs{
      .breadcrumb{
        .railwaysText{
          left: 33%;
        }
      }
    }
    .box {
      img {
        width: 100%;
      }
      .aerospace {
        .container {
          .box {
            .overlay {
              height: 60%;
            }
            h3 {
              font-size: 16px;
              margin-bottom: 5%;
            }
            a {
              font-size: 12px;
            }
            p {
              font-size: 12px;
            }
            &:hover {
              .overlay {
                p {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
  
  