.about{
    display: flex;
    flex-wrap: wrap;
    background-color: $color-primary;
    padding: 1rem;
    
    .container{
        width: 100%;
        margin-top: 1rem;
        padding: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        max-height: 100%;


        .image{
            width: 50%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
            @include flex;

            img{
                width: 85%;
                height: auto;
                object-fit: fill;
                border-radius: 15px;

            }
        }

        .content{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content:space-around;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            padding-left: 1.5rem;


            .title{
                font-size: 1.8rem;
                margin-bottom: 1rem;
                h2{
                    font-weight: normal;
                }
            }

            .text{
                font-size: 1.125rem;
                margin-bottom: 1rem;
                color: $color-font;
                line-height: 1.4;
            }

            .quote{
                font-size: 1rem;
                font-style: italic;
                margin-bottom: 1rem;
                background-color: rgba($color: #082548, $alpha: 0.2);
                padding: 1rem;
                max-width: 100%;
                transform: skew(-10deg);
                position: relative;

                &:before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -1px;
                    width: 2px;
                    height: 100%;
                    border-radius: 5px;
                    background-color: #000;
                    transform: translateY(-50%);
                }

            }

            button {
                font-size: 16px;
                position: relative;
                margin-top: 1rem;
                padding: 1em 2.5em 1em 2.5em;
                border: none;
                background: $color-trinary;
                transition: all 0.1s linear;
                box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
               }
               
               button:active {
                transform: scale(0.95);
               }
               
               button span {
                color: #fff;
               }
               
               button .border {
                position: absolute;
                border: 0.15em solid $color-trinary;
                transition: all 0.3s 0.08s linear;
                top: 50%;
                left: 50%;
                width: 9em;
                height: 3em;
                transform: translate(-50%, -50%);
               }
               
               button:hover .border {
                display: block;
                width: 9.9em;
                height: 3.7em;
               }
               
               .full-rounded {
                border-radius: .2em;
               }
        }

        

    }
}

@media screen and (max-width: 1024px){
    .about{
        .container{
            .image{
                width: 50%;
                height: auto;
                margin: 0 auto;
            }

            .content{
                width: 100%;
                height: auto;
                padding: 1rem;
                padding-left: 1.5rem;
                .title{
                    font-size: 1.5rem;
                }

                .text{
                    font-size: 1rem;
                }

                .quote{
                    font-size: 1rem;
                }

                button{
                    font-size: 14px;
                }
            }
        }
    }
    
}


@media screen and (max-width: 768px){
    .about{
        .container{
            .image{
                width: 75%;
                height: auto;
            }

            .content{
                width: 100%;
                height: auto;
                padding: 1rem;
                padding-left: 1.5rem;
                .title{
                    font-size: 1.5rem;
                }

                .text{
                    font-size: 1rem;
                }

                .quote{
                    font-size: 1rem;
                }

                button{
                    font-size: 14px;
                }
            }
        }
    }
}


@media screen and (max-width: 426px){
    .about{
        .container{
            margin: 0;
            padding: 1rem;
            .image{
                width: 100%;
                height: auto;
            }

            .content{
                width: 100%;
                height: auto;
                padding: 1rem;
                padding-left: 1.5rem;
                .title{
                    font-size: 1.5rem;
                }

                .text{
                    font-size: .8rem;
                }

                .quote{
                    font-size: .75rem;
                }

                button{
                    font-size: 14px;
                }
            }

        }
    
    }
}

@media screen and (min-width: 1440px){
    .about{
        .container{
            .image{
                width: 50%;
                height: auto;

                img{
                    width: 80%;
                    height: auto;
                    object-fit: fill;
                    border-radius: 15px;
                }
            }

            .content{
                width: 50%;
                height: auto;
                padding: 1rem;
                padding-left: 1.5rem;
                .title{
                    font-size: 2rem;
                }

                .text{
                    font-size: 1.125rem;
                }

                .quote{
                    font-size: 1rem;
                }

                button{
                    font-size: 1rem;
                }
            }

        }
    
    }
    
}