@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.navbar {
  background-color: #ffffff;
  border-radius: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 0.25rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .logo a {
  text-decoration: none;
}
.navbar .logo a img {
  width: 175px;
  height: auto;
  cursor: pointer;
}
.navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: auto;
}
.navbar nav ul li {
  display: inline-block;
  margin: 0 0.2rem;
  font-size: 1.125rem;
}
.navbar nav a {
  color: #060606;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}
.navbar nav a:hover {
  color: #082548;
}
.navbar .button {
  color: #fff;
  cursor: pointer;
  border: 1px solid #252829;
  border-radius: 4px;
  padding: 0.8em 2em;
  background: #252829;
  transition: 0.2s;
}
.navbar .button:hover {
  transform: translate(-0.25rem, -0.25rem);
  background: #1A2634;
  box-shadow: 0.25rem 0.25rem #252829;
}
.navbar .button:active {
  transform: translate(0);
  box-shadow: none;
}
.navbar .toggle_btn {
  font-size: 2rem;
  color: #060606;
  cursor: pointer;
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  right: 1rem;
  top: 6rem;
  width: 18.75rem;
  transition: all 0.3s ease-in-out;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown li {
  list-style: none;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.dropdown li a {
  text-align: center;
  text-decoration: none;
  color: #060606;
  font-size: 1.125rem;
  width: 100%;
}
.dropdown li a:active {
  color: #082548;
}
.dropdown .button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  text-align: center;
  font-size: 1rem;
  color: #060606;
  text-decoration: none;
  background: #252829;
  border: none;
  cursor: pointer;
  width: 100%;
}
.dropdown .button:active {
  background: #082548;
}

.dropdown.open {
  display: block;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .navbar nav {
    display: none;
  }
  .navbar .button {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .navbar .dropdown {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .navbar {
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
  .dropdown {
    left: 2rem;
    width: unset;
  }
}
.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}
.btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.btn::after {
  transition: border 0.1s linear 0.05s;
}
.btn .btn-inner {
  position: relative;
  z-index: 2;
}
.btn:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
.btn:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.btn:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}
.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 1.125rem;
  line-height: 1.4;
}
.slideshow .slide .btn {
  margin: 15px 0 0;
  border-color: #fff;
}
.slideshow .slide .btn::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .arrows .prev {
  left: 30px;
}
.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  right: 30px;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}

@media screen and (max-width: 1024px) {
  .slideshow {
    height: 100vh;
  }
  .slide-content .title {
    font-size: 40px;
  }
  .slide-content .text {
    font-size: 16px;
  }
  .pagination {
    bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 10px 15px;
  }
  .slideshow .slide .caption {
    padding: 0 50px;
  }
  .slideshow .slide .title {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
  .slideshow .slide .text {
    font-size: 1rem;
  }
  .slideshow-inner .arrows {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    padding: 10px 15px;
  }
  .slideshow .slide .caption {
    padding: 0 50px;
  }
  .slideshow .slide .title {
    font-size: 3rem;
    letter-spacing: 0.1rem;
  }
  .slideshow .slide .text {
    font-size: 1rem;
  }
  .slideshow-inner .arrows {
    display: none;
  }
}
.about {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 1rem;
}
.about .container {
  width: 100%;
  margin-top: 1rem;
  padding: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-height: 100%;
}
.about .container .image {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.about .container .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 15px;
}
.about .container .content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  padding-left: 1.5rem;
}
.about .container .content .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about .container .content .title h2 {
  font-weight: normal;
}
.about .container .content .text {
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color: #060606;
  line-height: 1.4;
}
.about .container .content .quote {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
  background-color: rgba(8, 37, 72, 0.2);
  padding: 1rem;
  max-width: 100%;
  transform: skew(-10deg);
  position: relative;
}
.about .container .content .quote:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1px;
  width: 2px;
  height: 100%;
  border-radius: 5px;
  background-color: #000;
  transform: translateY(-50%);
}
.about .container .content button {
  font-size: 16px;
  position: relative;
  margin: auto;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  background: #082548;
  transition: all 0.1s linear;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
}
.about .container .content button:active {
  transform: scale(0.95);
}
.about .container .content button span {
  color: #fff;
}
.about .container .content button .border {
  position: absolute;
  border: 0.15em solid #082548;
  transition: all 0.3s 0.08s linear;
  top: 50%;
  left: 50%;
  width: 9em;
  height: 3em;
  transform: translate(-50%, -50%);
}
.about .container .content button:hover .border {
  display: block;
  width: 9.9em;
  height: 3.7em;
}
.about .container .content .full-rounded {
  border-radius: 0.2em;
}

@media screen and (max-width: 768px) {
  .about .container .image {
    width: 100%;
    height: 50%;
  }
  .about .container .content {
    width: 100%;
    height: 50%;
    padding: 1rem;
    padding-left: 1.5rem;
  }
  .about .container .content .title {
    font-size: 1.5rem;
  }
  .about .container .content .text {
    font-size: 1rem;
  }
  .about .container .content .quote {
    font-size: 1rem;
  }
  .about .container .content button {
    font-size: 14px;
  }
}
@media screen and (max-width: 425px) {
  .about .container {
    margin: 0;
    padding: 1rem;
  }
  .about .container .image {
    width: 100%;
    height: auto;
  }
  .about .container .content {
    width: 100%;
    height: auto;
    padding: 1rem;
    padding-left: 1.5rem;
  }
  .about .container .content .title {
    font-size: 1.5rem;
  }
  .about .container .content .text {
    font-size: 1rem;
  }
  .about .container .content .quote {
    font-size: 1rem;
  }
  .about .container .content button {
    font-size: 14px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #060606;
  background-color: #252829;
  -webkit-font-smoothing: antialiased;
}/*# sourceMappingURL=style.css.map */