@import "variables";

@import "header";
@import "home/section01";
@import "home/section02";
@import "home/section03";
@import "home/section04";
@import "home/section05";
@import "about/about";  

@import "footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $font-family;
    color: $color-font;
    background-color: $color-background;
    
    -webkit-font-smoothing: antialiased;
}